li{
  float: left;
  margin-right: 12px;
  margin-bottom: 15px;
  line-height: 100%;
  list-style: none;
}

li:hover .cat-show-item{
  border-color: white;
}

.cat-show-item{
  position: relative;
  height: 150px;
  width: 100px;
  background: #111;
  overflow: hidden;
  border: 3px solid #aaa;
}

.cat-show-item:after{
  z-index: 1;
  content: attr(title);
  font-size: 12px;
  line-height: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
  background: black;
  opacity: 0.75;
  height: 40px;
  width: 100%;
}

li:hover .cat-show-item:after{
  color: white;
}

li img.thumb{
  width: 100px;
}

.rating{
  margin: 5px 0 0 10px;
}