li{
  line-height: 100%;
  list-style: none;
}

li:hover .cocktail-item{
  border-color: white;
}

.cocktail-item {
  position: relative;
  background: #111;
  overflow: hidden;
  border: 3px solid #aaa;
}

.cocktail-item:after{
  z-index: 1;
  content: attr(title);
  font-size: 12px;
  line-height: normal;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #aaa;
  background: black;
  opacity: 0.75;
  height: 40px;
  width: 100%;
}

li:hover .cocktail-item:after{
  color: white;
}

li img.thumb{
  width: 100px;
}