@import "../_variables.scss";
* {
  color: $white;
  font: $font-md "Montserrat", sans-serif;
}

.grid {
  height: $context-menu-height;
  grid-template-rows: 10% auto 30%;  // 3 "rows" possible
  grid-gap: 10px;
  
  * {
    align-self: center;
    justify-self: stretch;
  }

  .row-gap {
    &-1 {
      grid-column-end: span 10;
      grid-row-end: span 1;
    }
  }

  .span {
    &-4 {
      grid-column-end: span 4;
    }

    &-3 {
      grid-column-end: span 3;
    }

    &-2 {
      grid-column-end: span 2;
    }

    &-1 {
      grid-column-end: span 1;
    }
  }
  
  .justify {
    &-left {
      justify-self: left;
    }
  
    &-right {
      justify-self: right;
    }
  }
}

button {
  white-space: nowrap;
}

select, input {
  display: block;
  width: 100%;
  border-bottom: 1px solid $emerald;
  color: $white;
}

input#search {
  width: 200px;
  placeholder {
    color: $emerald;
  }
}

.emerald {
  color: $emerald;
}