.cocktailImage {
  float: right;

  background: no-repeat bottom center/100% url($napkin-path);
  padding: 0 30px 30px;
  min-height: 240px;
  min-width: 200px;
  
  img {
    display: block;
    margin: 0 auto;

    max-height: 300px;
    max-width: 275px;
  }
}

h1 {
  .type {
    opacity: 0.5;
  }

  &.reviews {
    background-color: $gold;
  }
}

ul {
  &.ingredients {
    li {
      font-size: $font-md;
      text-transform: capitalize;
    }
  }

  &.reviews {
    padding: 0;

    li {
      margin: 0 30px;

      .rating {
        &.number {
          font-size: $font-xxl;
          font-style: italic;
        }
      }

      .reviewer {
        display: block;
        font-size: $font-lg;
        text-align: right;
      }

      &::before, &::after {
        display: block;
        font-size: 64px;          // special case
        margin: 0 -30px;
        opacity: 0.2;
      }

      &::before {
        content: '\201C';
        margin-top: 40px;
        margin-bottom: -45px;
      }

      &::after {
        content: '\201D';
        text-align: right;

        height: 50px;
        background: no-repeat bottom center url($flourish-path);
      }

      &:last-child {
        &::after {
          background: none;
          height: auto;
        }
      }
    }
  }
}
