@import "../_variables.scss";

.box{
  background: $white;
  line-height: 2em;
  padding: 20px;
}

.cocktailImage {
  float: right;

  background: no-repeat bottom center/100% url($napkin-path);
  padding: 0 30px 30px;
  min-height: 240px;
  min-width: 200px;
  
  img {
    display: block;
    margin: 0 auto;

    max-height: 300px;
    max-width: 275px;
  }
}

h1 {
  color: $white;
  font-size: $font-xxl;
  font-weight: normal;
  margin: -20px -20px 20px -20px;
  padding: 20px;

  .type {
    opacity: 0.5;
  }
}

h2 {
  font-size: $font-xl;
  font-weight: normal;
}

ul {
  list-style: none;

  &.ingredients {
    li {
      font-size: $font-md;
      text-transform: capitalize;
    }
  }
}
