@import "../_variables.scss";

footer{
  min-height: $footer-height;
  width: 100%;

  background: no-repeat bottom center url($footer-path);

  a:hover {
    color: $white;
    text-decoration: underline;
  }

  &.grid {
    grid-template-rows: .5fr;  // 2 "rows" possible
  }

  .credits {
    grid-column-start: 4;
    grid-column-end: span 2;
    grid-row-start: 2;

    align-self: center;

    list-style: none;
    padding: 0;
    text-align: right;

    margin-right: 60px;

    li:nth-child(2) {
      margin-right: 10px;
    }

    a {
      color: $emerald;
    }
  }

  .quicklinks {
    grid-column-start: 6;
    grid-column-end: span 2;
    grid-row-start: 2;

    justify-self: center;
    align-self: center;

    margin-left: 30px;

    a {
      color: $gold;
      font-size: $font-lg;
    }
  }
}