#footer{
    border-top: 1px solid #130503;
    background: white;
    height: 50px;
    color: black;
    width: 100%;

    position: absolute;
    bottom: 0;

    .grid-container {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      column-gap: 10px;
      grid-template-rows: 1fr;

      max-width: 1000px;
      margin: 5px auto -2px;

      &:first-child {
        padding-left: 10px;
      }

      &:last-child {
        padding-right: 10px;
      }
    }
  
    .credits {
      grid-column-start: 1;
      grid-column-end: span 8;

      font-size: 14px;
      margin-bottom: 0;
    }
  
    .quicklinks{
      grid-column-start: 10;
      grid-column-end: span 1;
      justify-self: end;

      font-size: 24px;
    }

    a{
      color: black;

      &:hover{
        color: #cc8042;
      }
    }
}