@import "../_variables.scss";

.rating {
  background: url($rating-path) no-repeat 0 4px;
  display: inline-block;
  height: 20px;
  min-width: 86px;
  margin: 5px 0 0;
  overflow: hidden;
  position: relative;
  
  img {
    float: left;
    margin-top: 4px;
  }

  .partial {
    overflow: hidden; 
    display: inline-block;
    // width will be computed inline
  }
}

.centered {
  font-size: $font-sm;
  text-align: center;

  p {
    margin: 0;
  }
}

.divider {
  opacity: 0.3;
}
