@import "../_variables.scss";

#scatter-chart-container {
  display: block;
  background: rgb(238,238,238);
  // eee -> transparent
  background: radial-gradient(circle, rgba(238,238,238,1) 50%, rgba(255,255,255,0) 100%);
  margin: 10px auto;
}