.siCont{
    overflow: hidden;
    position: relative;
    top: 10vh;
    height: 390px;
}
  
#signinbox{
    width: 300px;
    background: white;
//  position: absolute;
//  top: 0;
//  left: 40%;
    margin: 20px auto 0;
    color: black;
    transition: left 500ms linear;

    &.exit {
    left: 2000px;
    transition: left 500ms linear;
    }

    h1{
    text-align: center;
    color: black;
    }

    p{
    text-align: center;
    margin: 10px;
    }

    strong{
    color: inherit;
    }
}

.flashbox{
    min-width: 200px;
    background: white;
    padding: 10px;
    position: absolute;
    left: 350px;
    top: 100px;
    display: none;

    p.subtext{
    text-align: left;
    }
}