.map-view {
  width: 180px;
  height: 200px;
  float: left;
  margin-right: 15px;
  border: 5px solid #aaa;

  &.wide{
    width: calc(100% - 10px);
  }

  .map-info{
    font: 14px 'ChaparralPro', 'Palatino', serif;
    overflow-y: hidden;
  }
}

// .right.bar #bar-map {
//   width: 100%;
// }

.map-tip{
  float: right;
  margin-top: -20px;
  color: #000;
  font-size: 24px;
}

.bar-info {
  ul{
    list-style: none;
    margin: 0;
    line-height: 100%;
    text-transform: lowercase;
    font-variant: small-caps;
  }

  .first-word{
    display: inline-block;
    width: 25px;
    text-align: right;
    color: #aaa;
  }
}