$font1-path:    '/fonts/montserrat_reg.otf';
$font2-path:    '/fonts/montserrat_bold.otf';
$font3-path:    '/fonts/chaparralpro_reg.otf';
$font4-path:    '/fonts/chaparralpro_bold.otf';

$body-path:     '/images/contbg.jpg';
$box-path:      '/images/boxbg.jpg';
$rating-path:   '/images/rating-empty.png';
$napkin-path:   '/images/imgborderbg-black.png';