@import "_variables.scss";

body {
  color: $black;
  margin: 0;
  padding: 0;
  background: $dark-gray url($body-path) repeat-x;
}

#app {
  min-width: $app-min-width;
  max-width: $app-width;
  margin: 0 auto;
  font: $font-baseline  "LibreBaskerville", "Garamond", serif;
}

#content {
  min-height: calc(100vh - #{$footer-height} - #{$header-height} - 10px);
}

.grid {
  max-width: $app-width;
  margin: 0 auto;
  
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.colored-by-type {
  background: $black;
  transition: $transition-fast;

  &.hovered {
    background: $light-black;
  }
  
  &.gin {
    background: $navy;

    &.hovered {
      background: $light-navy;
    }
  }
  
  &.vodka {
    background: $amethyst;

    &.hovered {
      background: $light-amethyst;
    }
  }
  
  &.tequila {
    background: $ruby;

    &.hovered {
      background: $light-ruby;
    }
  }
  
  &.whiskey {
    background: $russet;

    &.hovered {
      background: $light-russet;
    }
  }
  
  &.rum {
    background: $marigold;

    &.hovered {
      background: $light-marigold;
    }
  }
}

button {
  font-family: "Montserrat", sans-serif;
  padding: 5px 15px;
  border: 0;
  margin: 10px;
  transition: $transition-fast;

  &.primary {
    background: $gold;
    color: $dark-green;
    
    &:hover {
      background: $light-gold;
    }
  }

  &.secondary {
    background: $emerald;
    color: $dark-green;
    
    &:hover {
      background: $light-emerald;
    }
  }
}

.placeholder-box { // will prob become its own component soon
  width: 200px;
  height: 200px;
  background: rgb(238,238,238);
  // eee -> transparent
  background: radial-gradient(circle, rgba(238,238,238,1) 50%, rgba(255,255,255,0) 100%);
  margin: 10px auto;
}

// overrides
input, select {
  background: transparent;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: $emerald;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}