@font-face {
  font-family: 'Montserrat';
  src: url($font1-path);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url($font2-path);
  font-weight: bold;
  font-style: normal;
}

@font-face {
 font-family: 'ChaparralPro';
 src: url($font3-path);
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'ChaparralPro';
 src: url($font4-path);
 font-weight: bold;
 font-style: normal;
}
