@import "_variables.scss";

@import "fonts.scss";
// @import "overrides.scss";

// @import "loader.scss";

// @import "main.scss";
// @import "modal.scss";
// @import "inputs.scss";
// @import "small_screens.scss";

@import "app.scss";