*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
 
  body{
   background: url($body-path);
   font: 16px 'ChaparralPro', 'Palatino', serif;
   color: #eee;
  }
 
  ul{
    list-style: square inside;
  }
 
  button, a.button-link{
   font: 18px 'Montserrat', sans-serif;
   background: #000;
   padding: 3px 10px;
   color: #fff;
   text-transform: lowercase;
   font-variant: small-caps;
   display: inline-block;
   width: calc(49% - 20px);
   clear: both;
   text-align: center;
 
   &:hover{
     background: #fff;
     color: #000;
   }
 
   &.block{
     display: block;
     margin: 5px auto;
   }
 }
 
 h1{
   font: 30px 'Montserrat', sans-serif;
 }
 
 h2{
   font: 24px 'ChaparralPro', 'Palatino', serif;
 }
 
 h1, h2, h3, strong{
   color: white;
 }
 
 h1, h2, h3, p{
   margin-bottom: 10px;
 }
 
 a{
   color: #cc8042;
   text-decoration: none;
 
   &:hover{
     color: white;
   }
 }